
.homepage {
    color: white; /* Set the text color to white for the entire .homepage component */
    /* Add other styles for .homepage here if needed */
  }

.login-container {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.image-container {
flex: 1;
padding: 20px;
text-align: center;
}

img {
max-width: 100%;
height: auto;
}

.form-container {
flex: 1;
padding: 20px;
}

form {
max-width: 300px;
margin: 0 auto;
}

label, input {
display: block;
margin: 10px 0;
}

button {
background-color: #52796F;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}