.logo {
    max-width: 53%;
    max-height: 100vh;
    display: block;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  
  @media (max-width: 1036px) {
    .logo {
      left: 0;
      transform: translate(0, 0);
      top: 0;
      max-width: 100vw; /* Set the maximum width to 100% of the viewport width */
      max-height: none; /* Remove the maximum height */
    }
  }
