.button {
  background-color: #52796F;
  color: #CAD2C5;
  border: none;
  border-radius: 5px;
  padding: 10px 5px; /* 10px top and bottom, 5px left and right */
  width: 25%; /* Control the width */
  min-height: 60px; /* Minimum height for the button */
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5; /* Control the spacing between lines of text */
  box-sizing: border-box; /* Include padding in the width calculation */
  margin: 10px; /* Add margin for spacing */
}

.button.hovered {
  background-color: #0c5140;
  transform: scale(1.05);
}
