:root {
    --background-color: #F9DEC9;
    --blue: #667281;
    --dark-blue: #032041;
    --hover: #723D45;
}

body {
    font-family: 'Lexend Giga';
    background-color: var(--background-color);
}

@font-face {
    font-family: 'Lexend Giga';
    src: url('/font/LexendGiga-Regular.ttf') format('truetype');
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.left, .right {
    width: calc(49.5% - 0.5%);
}

.form-container, .button-container {
    background-color: var(--blue);
    padding: 1rem;
    border-radius: 10px;
}

h2 {
    color: #000000;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0.25rem;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.5em;
}

select, input[type="number"], input[type="file"] {
    font-family: 'Lexend Giga';
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 1.5em;
    text-align: center;
}

select {
    width: 100%
}


input[type="number"] {
    width: 93.8%;
}

/* Custom File Upload Button */
input[type="file"] {
    width: 95%;
    border: 2px solid var(--dark-blue);
}

input[type="file"]::file-selector-button {
    background-color: var(--dark-blue);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
    background-color: var(--hover);
}

/* Image Preview Style */
#preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#preview img {
    max-width: 100%; /* Ensures the image does not exceed the container width */
    max-height: 400px; /* Adjust as needed */
    object-fit: contain; /* Keeps aspect ratio */
    border-radius: 10px; /* Optional, for rounded corners */
}

button {
    font-family: 'Lexend Giga', sans-serif;
    background-color: var(--dark-blue);
    color: white;
    font-size: large;
    padding: 5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 96%;
    display: block;
    margin: 10px auto;
}

button:hover {
    background-color: var(--hover);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 0; /* Remove the gap for smaller screens */
    }

    .left, .right {
        width: 100%;
    }

    .right {
        margin-top: 10px;
    }

    .join-game, .gallery {
        margin-top: 10px;
    }
}
