:root {
    --background-color: #F9DEC9;
    --blue: #667281;
    --dark-blue: #032041;
    --hover: #723D45;
}

body {
    font-family: 'Lexend Giga', sans-serif; /* Updated the font family */
    background-color: var(--background-color);
}

/* Include the font face */
@font-face {
    font-family: 'Lexend Giga';
    src: url('/font/LexendGiga-Regular.ttf') format('truetype');
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 10%; /* Add a gap between flex items */
}

.left, .right {
    width: calc(49.5% - 0.5%); /* Adjust the width to account for the gap */
}

.form-container, .button-container {
    background-color: var(--blue);
    padding: 1rem;
    border-radius: 10px;
}

h2 {
    color: #000000;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0.25rem;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.5em;
}

select {
    font-family: 'Lexend Giga'; /* Set font family */
    width: 95%; /* Set uniform width */
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 1rem; /* Uniform padding */
}


input[type="number"] {
    font-family: 'Lexend Giga'; /* Set font family */
    width: 90.5%; /* Set uniform width */
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 1rem; /* Uniform padding */
    
}


input[type="file"] {
    font-family: 'Lexend Giga'; /* Set font family */
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 1rem; /* Uniform padding */
}




button {
    font-family: 'Lexend Giga', sans-serif; /* Updated the font family */
    background-color: var(--dark-blue);
    color: white;
    font-size: large;
    padding: 5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 96%; /* Adjust button width */
    display: block; /* Make each button a block element */
    margin: 10px auto; /* Center the button and add margin for spacing */
}

button:hover {
    background-color: var(--hover);
}

.dark-blue {
    background-color: var(--dark-blue);
}

.navy-blue {
    background-color: var(--blue);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 0; /* Remove the gap for smaller screens */
    }

    .left, .right {
        width: 100%;
    }

    .right {
        margin-top: 10px;
    }

    .join-game, .gallery {
        margin-top: 10px;
    }
}
