@import "style.css";

.homewrap{
    display: flex;
    justify-content: center;
}

.home{
    display: flex;
    flex-direction: column;
}

.login-form{
    padding-left: 2vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color_two);
}

.field-color{
    font-family: LexGiga-Reg;
    height: 2vmax;
    width: 10vmax;
    background-color: var(--background-color);
    border: 0cap;
}