.nav-bar{
    background-color: #4267B2;
    font-size: 2rem;
    color: white;
}

.nav-a {
    color: white;
    text-decoration: none;
    padding-bottom: .25%;
}
.nav-a:hover{
    background-color: #385897;
}
.left-elm{
    align-self: flex-end;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-left: .5%;
    padding-right: .5%;
}