@import "style.css";

/* Navigation Bar Styling */

.navSection {
    background-color: var(--blue);
    color: white;
    border-radius: 10px;
    margin-top: 1vw;
    width: 98vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

p {
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 0vw;
    font-size: var(--font-big);
}

.logo {
    height: 180px;
    margin-left: 2vw;
}


.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}



.nav-container {
    display: flex;
    align-items: center;
}



.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 3vw;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hover effect for links */
.nav-links a:hover {
    color: var(--dark-blue);
}


/* Dropdown Button Styling */
.dropdown-btn {
    display: none;
    background-color: var(--color_three);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.dropdown-btn:hover {
    background-color: var(--dark-blue);
}

/* Show Dropdown Button on Smaller Screens */
@media (max-width: 768px) {

    p {
        font-size: var(--font-medium);
    }

    .logo {
        height: 120px;
        margin-left: 1vw;
    }
    

    .dropdown-btn {
        display: block;
    }

    /* Hide menu items */
    .nav-container {
        display: none;
    }

    /* Show menu when active */
    .nav-container.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin-top: 10px;
    }

    .nav-links a {
        display: block;
    }
}
