@import "style.css";


/* Navigation Bar Styling */
.nav-bar {
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hover effect for links */
.nav-links a:hover {
    color: var(--dark-blue);
}

p {
    text-align: center;
    margin-top: 0.2rem;
    color: var(--dark-blue);
}