@font-face {
    font-family: LexGiga-Reg;
    src: url('/font/LexendGiga-Regular.ttf');
}

:root {
    --font-color: #25291C;
    --background-color: #F9DEC9;
    --color_one : #472D30;
    --color_two : #E9AFA3;
    --color_three : #723D46;
    font-family: LexGiga-Reg;
    font-size: x-large;
    --blue: #667281;
    --dark-blue: #032041;

    /* font size */
    --font-bigger: 4rem; 
    --font-big: 2.4721rem; 
    --font-medium: 1.5279rem;  
    --font-small: 0.9094rem;  
    --font-text:  1rem; 

 

}

body{
    background-color: var(--background-color);
}