@font-face {
    font-family: LexGiga-Reg;
    src: url('/font/LexendGiga-Regular.ttf');
}

:root {
    --font-color: #25291C;
    --background-color: #F9DEC9;
    --color_one : #472D30;
    --color_two : #E9AFA3;
    --color_three : #723D46;
    font-family: LexGiga-Reg;
    font-size: x-large;
}

body{
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
}