{% extends "base.html" %}
{% block title %}Game Page{% endblock %}
{% block head %}
<link  rel="stylesheet" href="{{url_for('send_static',path='css/lobby.css')}}">
<link  rel="stylesheet" href="{{url_for('send_static',path='css/gamewip.css')}}">
<link  rel="stylesheet" href="{{url_for('send_static',path='css/gameInProgress.css')}}">
<link  rel="stylesheet" href="{{url_for('send_static',path='css/gameresults.css')}}">
<script src="/js/game_script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
 
<script>
    var socket = io({transports: ["websocket"]});
    function submit_the_prompt(){
        console.log('sending over socket')
            let prompt = document.getElementById('promptInput').value;
            document.getElementById('prompt_div').innerHTML = '<p>Please Wait For Other Players to Submit</p>'
            socket.emit('send_prompt',{'user':'{{user}}','prompt':prompt,'host':'{{host}}','lobby':'{{code}}'})
        }
    function prompt_win(winner){
        socket.emit('winner_prompt',{'user':'{{user}}','host':'{{host}}','lobby':'{{code}}','winner':winner})
    }
    function next_turn(){
        socket.emit('next_turn',{'user':'{{user}}','host':'{{host}}','lobby':'{{code}}'})
    }
    function End_The_Game(){
        socket.emit('ending',{'user':'{{user}}','host':'{{host}}','lobby':'{{code}}'})
    }
    
    $(document).ready(function(){
        console.log(socket.io.engine.transport.name)
        socket.on('my response', function(msg) {
            console.log(msg.data)
        });
        socket.emit('update_count', {'lobby': '{{code}}','user':'{{user}}'});
        socket.on('lobby joined',function(msg)  {
            console.log(msg)
        })
        socket.on('end_game',function(msg)  {
            alert('The Game Has ended, click ok to be redirected to the make lobby screen')
        window.location = '/home-page'
        })
        socket.on('update_users',function(msg)  {
            let un = document.createElement('p');
            un.innerHTML = msg['user']
            document.getElementById('User_List').insertAdjacentElement('afterbegin',un)
            console.log(msg['count'])
        })
        socket.on('start',function(msg){
            console.log(msg)
            console.log(msg['data']['players'])
            start_game(msg['data']['players'],msg['data']['current_judge']['username'],'{{user}}','/images/packs/'+msg['data']['pack']['path']+'/'+msg['data']['current_image'])
        });

        socket.on('prompt_submit',function(msg){
            document.getElementById(msg['user']).innerHTML=document.getElementById(msg['user']).innerHTML.replace("🔴","🟢")
        });
        socket.on('judging',function(msg){
            if('{{user}}'==msg['game']['current_judge']['username']){
                render_judge_page(msg['game']['players'],'/images/packs/'+msg['game']['pack']['path']+'/'+msg['game']['current_image'],msg['game']['current_judge']['username'])
            }else{
                Please_Wait_on_judge()
            }
        });
        socket.on('show_prompts',function(msg){
            if('{{user}}'==msg['game']['current_judge']['username']){
                show_prompts_to_players(msg['game']['players'],msg['winner'],msg['game']['current_judge']['username'],'{{user}}')
            }else{
                show_prompts_to_players(msg['game']['players'],msg['winner'],msg['game']['current_judge']['username'],'{{user}}')
            }
        });
        socket.on('start_next',function(msg){
            start_game(msg['data']['players'],msg['data']['current_judge']['username'],'{{user}}','/images/packs/'+msg['data']['pack']['path']+'/'+msg['data']['current_image'])
        });
        socket.on('round_reached',function(msg){
            console.log('game over')
            if('{{user}}'==msg['data']['host']){
                show_scores(true,msg['data']['players'])
            }else{
                show_scores(false,msg['data']['players'])
            }
        });
    });
    //game_inst -> varible for templating the lower container stuff
    </script>

{% endblock %}
{% block content %}

<div id="Game_Board">
    {%for players in game_inst['players']%}
        {%if players['username'] == user and user != game_inst['current_judge']['username'] and players['submit'] == false%}
            <div id="prompt_div" class="GIPprompt">
                <h2 class="GIPpromptTitle">TYPE YOUR PROMPT BELOW</h2>
                <textarea id="promptInput" class="GIPpromptForm" maxlength="300" placeholder="Prompt"></textarea>
                <button class="GIPpromptSubmit" id="prompt_submit">SUBMIT YOUR PROMPT</button>
            </div>
            <script>
                document.getElementById('prompt_submit').addEventListener("click", submit_the_prompt);
            </script>
        {%elif players['username'] == user%}
        <div id="prompt_div" class="GIPprompt">
            <h2 class="GIPpromptTitle">Please Wait for all players to submit their prompt</h2>
        </div>
    {%endif%}
    {%endfor%}

    <div class="GIPgameContainer">
        <div class="GIPscoreBoard">
            <h1>SCOREBOARD</h1>
            <div class="GIPscoreBoardContainer">
                <div id="user_list">
                    {%for players in game_inst['players']%}
                        {%if players['judge']%}
                        <p id="{{players['username']}}">⚖️{{players['username']}}: {{players['score']}}</p>
                        {%else%}
                        {%if players['submit']%}
                        <p id="{{players['username']}}">🟢{{players['username']}}: {{players['score']}}</p>
                        {%else%}
                        <p id="{{players['username']}}">🔴{{players['username']}}: {{players['score']}}</p>
                        {%endif%}
                        {%endif%}
                    {%endfor%}
                </div>
            </div>
        </div>

        <div class="GIPjudge">
            <h1>JUDGING</h1>
            <div class="GIPjudgeContainer">
                <h2>{{game_inst['current_judge']['username']}}</h2>
                <img id="current_image" src="{{'/images/packs/'+game_inst['pack']['path']+'/'+game_inst['current_image']}}" class="GIPjudgeImg">
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function() {
        $('#promptInput').on('input', function() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });
    });
</script>

{% endblock %}