{% extends "base.html" %}
{% block title %}Game Page{% endblock %}
{% block head %}
<link  rel="stylesheet" href="{{url_for('send_static',path='css/gameInProgress.css')}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    
{% endblock %}
{% block content %}

<div id="Game_Board">

    <div class="GIPprompt">
        <h2 class="GIPpromptTitle">TYPE YOUR PROMPT BELOW BOZO</h2>
        <textarea id="promptInput" class="GIPpromptForm" maxlength="300" placeholder="Prompt"></textarea>
        <button class="GIPpromptSubmit">SUBMIT YOUR PROMPT BOZO</button>
    </div>

    <div class="GIPgameContainer">
        <div class="GIPscoreBoard">
            <h1>SCOREBOARD</h1>
            <div class="GIPscoreBoardContainer">
                <div id="user_list">
                    <p>🟢William: 69</p>
                    <p>🔴Joe: 0</p>
                    <p>⚖️Johnny: 0</p>
                    <p>🔴Daniel: 0</p>
                    <p>🔴Rob: 0</p>
                </div>
            </div>
        </div>

        <div class="GIPjudge">
            <h1>JUDGING</h1>
            <div class="GIPjudgeContainer">
                <h2>CockusBallus</h2>
                <img src="/static/images/lebronDuck.jpeg" class="GIPjudgeImg">
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function() {
        $('#promptInput').on('input', function() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });
    });
</script>

{% endblock %}