{% extends "base.html" %}
{% block title %}Game Page{% endblock %}
{% block head %}
<link  rel="stylesheet" href="{{url_for('send_static',path='css/lobby.css')}}">
<script src="/js/game_script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    
{% endblock %}
{% block content %}

<div id="Game_Board">
    <h1>Scoreboard</h1>
    <div id="user_list">
        <p>🟢William: 0</p>
        <p>🟢Joe: 0</p>
        <p>⚖️Johnny: 0</p>
        <p>🟢Daniel: 0</p>
        <p>🟢Rob: 0</p>
    </div>
    <div id = 'image'>
        <h1>Johnny is Judging!</h1>
        <img src="/catalog/logo.png" style="height: 5vmax; width: 5vmax;">
    </div>
        <div id="Prompt">
            <button>'Chicken'</button>
            <button>'Prompt2'</button>
            <button>'William Bozo'</button>
            <button>'IDk stuff'</button>
            <button>'Other Stuff'</button>
        </div>
    </div>
</div>

{% endblock %}