{% extends "base.html" %}
{% block title %}Game Page{% endblock %}
{% block head %}
<link  rel="stylesheet" href="{{url_for('send_static',path='css/gameresults.css')}}">
<script src="/js/game_script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>

<script>
    var socket = io({transports: ["websocket"]});
    function submit_the_prompt(){
        console.log('sending over socket')
            let prompt = document.getElementById('promptInput').value;
            document.getElementById('prompt_div').innerHTML = '<p>Please Wait For Other Players to Submit</p>'
            socket.emit('send_prompt',{'user':'{{user}}','prompt':prompt,'host':'{{host}}','lobby':'{{code}}'})
        }
    function prompt_win(winner){
        socket.emit('winner_prompt',{'user':'{{user}}','host':'{{host}}','lobby':'{{code}}','winner':winner})
    }
    function next_turn(){
        socket.emit('next_turn',{'user':'{{user}}','host':'{{host}}','lobby':'{{code}}'})
    }
    function End_The_Game(){
        socket.emit('ending',{'user':'{{user}}','host':'{{host}}','lobby':'{{code}}'})
    }
    
    $(document).ready(function(){
        console.log(socket.io.engine.transport.name)
        socket.on('my response', function(msg) {
            console.log(msg.data)
        });
        socket.emit('update_count', {'lobby': '{{code}}','user':'{{user}}'});
        socket.on('lobby joined',function(msg)  {
            console.log(msg)
        })
        socket.on('end_game',function(msg)  {
            alert('The Game Has ended, click ok to be redirected to the make lobby screen')
        window.location = '/home-page'
        })
        socket.on('update_users',function(msg)  {
            let un = document.createElement('p');
            un.innerHTML = msg['user']
            document.getElementById('User_List').insertAdjacentElement('afterbegin',un)
            console.log(msg['count'])
        })
        '{%if host == user%}'
        document.getElementById('start_game').addEventListener("click", start_game_s);
        function start_game_s (){
            socket.emit('start_game', {'host':'{{host}}','lobby':'{{code}}'})
        };
        '{%endif%}'
        socket.on('start',function(msg){
            console.log(msg)
            console.log(msg['data']['players'])
            start_game(msg['data']['players'],msg['data']['current_judge']['username'],'{{user}}','/images/packs/'+msg['data']['pack']['path']+'/'+msg['data']['current_image'])
        });

        socket.on('prompt_submit',function(msg){
            document.getElementById(msg['user']).innerHTML=document.getElementById(msg['user']).innerHTML.replace("🔴","🟢")
        });
        socket.on('judging',function(msg){
            if('{{user}}'==msg['game']['current_judge']['username']){
                render_judge_page(msg['game']['players'],'/images/packs/'+msg['game']['pack']['path']+'/'+msg['game']['current_image'],msg['game']['current_judge']['username'])
            }else{
                Please_Wait_on_judge()
            }
        });
        socket.on('show_prompts',function(msg){
            if('{{user}}'==msg['game']['current_judge']['username']){
                show_prompts_to_players(msg['game']['players'],msg['winner'],msg['game']['current_judge']['username'],'{{user}}')
            }else{
                show_prompts_to_players(msg['game']['players'],msg['winner'],msg['game']['current_judge']['username'],'{{user}}')
            }
        });
        socket.on('start_next',function(msg){
            start_game(msg['data']['players'],msg['data']['current_judge']['username'],'{{user}}','/images/packs/'+msg['data']['pack']['path']+'/'+msg['data']['current_image'])
        });
        socket.on('round_reached',function(msg){
            console.log('game over')
            if('{{user}}'==msg['data']['host']){
                show_scores(true,msg['data']['players'])
            }else{
                show_scores(false,msg['data']['players'])
            }
        });
    });
    
    </script>

{% endblock %}
{% block content %}

<div id="Game_Board">

    <div class="GRjudge">
        <h1>YOU ARE JUDING BOZO</h1>
        <h2>ROUND IMAGE</h2>
        <img src="/static/images/packs/willPack/BingImage14.jpeg" class="GRpromptImg">
    </div>

    <div class="GRPrompt">
        <h1 class="GRpromptTitle">PROMPTS</h1>
        <h2 class="GRpromptDirections">PICK THE PROMPT THAT YOU THINK IS THE FUNNIEST BOZO</h2>
        <div id="Prompt" class=GRpromptPrompts>
            <button class="GRpromptPromptsButtons">Chicken eating ass in the bathtoom and then gave a reach around to the 
                cashier behind the motherfucken counter
            </button>

            <button class="GRpromptPromptsButtons">Cat inserting a butt plug into elon musk himself at the cyber truck demo where the window 
                is broken by a dildo
            </button>

            <button class="GRpromptPromptsButtons">pepe pooo pooo bitch</button>

            <button class="GRpromptPromptsButtons">Cal at his job being hit on by a milf but shes got one of those mother fucken 
                ai stephen hawking voice things
            </button>

            <button class="GRpromptPromptsButtons">where tf is the rest of our group bro i be getting fucken sleepy and shit working 
                on this damn code. Someties when i sleep too much i get out of breath
            </button>

        </div>
    </div>

    <div>
        <h1 class="GRscoreBoardTitle">SCORE BOARD</h1>
        <div id="user_list" class="GRscoreBoardForm">
            <p class="GRscoreBoardRankings">🟢William: 69</p>
            <p class="GRscoreBoardRankings">🟢Joe: 0</p>
            <p class="GRscoreBoardRankings">⚖️Johnny: 0</p>
            <p class="GRscoreBoardRankings">🟢Daniel: 0</p>
            <p class="GRscoreBoardRankings">🟢Rob: 0</p>
        </div>
    </div>

</div>

{% endblock %}