{% extends "base.html" %}
{% block title %}Bookface{% endblock %} 
{% block head %}
<link  rel="stylesheet" href="{{url_for('send_static',path='css/index.css')}}">
{% endblock %}
{% block content %}
        <div class="container_center" style="padding-top: 10%;">
            <div class="container-form">
                <h1>Bookface</h1>
                <p>"Yes. I am the popular social networking site known as Bookface." -Jim Halpert</p>
            </div>
            <div class="container-form">
                {% if login == false %}
                <form action="{{url_for('login')}}">
                    <input type="submit" value="login" class="buttons">
                </form>

                <form action="{{url_for('signup')}}">
                    <input type="submit" value="signup" class="buttons">
                </form>
                {% else %}
                <form action="{{url_for('feed')}}">
                    <input type="submit" value="feed" class="buttons">
                </form>
                {%endif%}
            </div>
        </div>
        <br>
{% endblock %}