{% extends "base.html" %}
{% block title %}Modern Art{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="homewrap">
    <div class="home">
        <h1>MODERN ART</h1>
        <p>THE ARTIST SHOULD HAVE NO LIMITS</p>
        <!-- Button to route to login.html -->
        <form action="{{ url_for('login') }}">
            <button type="submit" class="enter-button">ENTER</button>
        </form>
    </div>
</div>
{% endblock %}
