{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<link  rel="stylesheet" href="{{url_for('send_static',path='css/lobby.css')}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    
{% endblock %}
{% block content %}
<p id="log"></p>
<script>

$(document).ready(function(){
    var socket = io({transports: ["websocket"]});
    console.log(socket.io.engine.transport.name)
    socket.on('my response', function(msg) {
        console.log(msg.data)
    });
    socket.emit('join lobby', {data: 'some_data'});
    socket.on('lobby joined',function(msg)  {
        console.log(msg)
    })

    socket.on('count_update',function(msg)  {
        console.log(msg)
        document.getElementById('count_'+msg['id']).innerHTML=msg['count']+'/'+msg['max_player']
    })

    socket.on('lobby_made',function(msg)  {
        //{'lobby_name': roomName, 'Description': description, 'Image_url': Image_url, 'id' : id}
        console.log(msg);
        let d = document.createElement("div");
        document.getElementById('lobby_listings').insertAdjacentElement("afterbegin",d);
        d.classList.add("lobby_inst");
        let name = document.createElement("p");
        name.innerHTML = msg['lobby_name'];
        let img = document.createElement("img");
        img.src="/catalog/"+msg['Image_url'];
        img.classList.add('lobby_img');
        let title = document.createElement("p");
        title.innerHTML = msg['lobby_name'];
        let desc = document.createElement("p");
        desc.innerHTML = msg['Description'];
        let but = document.createElement('a')
        but.href="/lobby/"+msg['id']
        but.innerHTML = 'Join Lobby'
        let count = document.createElement('p')
        count.id='count_'+msg['id']
        count.innerHTML = msg['count'] +'/' + msg['artists']
        
        d.insertAdjacentElement("afterbegin",but);
        d.insertAdjacentElement("afterbegin",name);
        d.insertAdjacentElement("afterbegin",desc);
        d.insertAdjacentElement("afterbegin",img);
        d.insertAdjacentElement("afterbegin",title);
        d.insertAdjacentElement("afterbegin",count);
        

    })
});


</script>
<a href="/"><img src="{{url_for('send_static',path='./images/back_button.png')}}" class="back_img"></a>
<div id="lobby_listings">
{%for obj in lobby%}
<div class="lobby_inst">
    {%if obj.max_player > obj.count%}
    <p id="count_{{obj.id}}">{{obj.count}}/{{obj.max_player}}</p>
    {%else%}
    <p id="count_{{obj.id}}">{{obj.count}}/{{obj.max_player}} Lobby Full!</p>
    {%endif%}
    <p>{{obj.host}}</p>
    <p>{{obj.title}}</p>
    <img src="{{url_for('send_static',path='/catalog/'+obj.img)}}" class="lobby_img">
    <p>{{obj.desc}}</p>
    {%if obj.max_player > obj.count%}
        <a href="{{url_for('lobbyin',string=obj.id)}}"><button>Join Server</button></a>
    {%endif%}
</div>
</div>
{%endfor%}
{% endblock %}