{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<link  rel="stylesheet" href="{{url_for('send_static',path='css/login.css')}}">
{% endblock %}
{% block content %}
<h1>Login</h1>
<div>
    <form action="{{url_for('login')}}" method="POST">
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="password" name="password">
        {%if error != None%}
        <p>{{error}}</p>
        {%endif%}
        <input type="submit" value="login" name="login">
    </form>
</div>
<div>
    <p>don't have an account? <a href="{{url_for('signup')}}">signup!</a></p>
</div>
{% endblock %}