{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('send_static', path='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="bodyc">
    <div class="container">
        <!-- Login Section -->
        <div class="section">
            <h2>LOGIN</h2>
            <div class="box">
                <form action="{{ url_for('login') }}" method="POST">
                    <input type="text" id="username" placeholder="USERNAME" name="username" required>
                    <br>
                    <input type="password" placeholder="PASSWORD" id="password" name="password" required>
                    <br><br>
                    {%if error != None or error != ''%}
                        <label>{{error}}</label>
                    {%endif%}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>

        <!-- Sign Up Section -->
        <div class="section">
            <h2>SIGN UP</h2>
            <div class="box">
                <form action="{{ url_for('signup') }}" method="POST">
                    <input type="text" placeholder="USERNAME" id="newUsername" name="newUsername" required>
                    <br>
                    <input type="text" placeholder="EMAIL" id="email" name="newEmail" required>
                    <br>
                    <input type="password" placeholder="PASSWORD" id="newPassword" name="newPassword" required>
                    <br>
                    <input type="password" placeholder="CONFIRM PASSWORD" id="confirmPassword" name="confirmPassword" required>
                    <br><br>
                    {%if error1 != None or error1 != ''%}
                        <label>{{error1}}</label>
                    {%endif%}
                    <button type="submit" name="Signup">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}