{% extends "base.html" %}
{% block title %}Packs{% endblock %}
{% block head %}
<link  rel="stylesheet" href="{{url_for('send_static',path='css/make_pack.css')}}">
{% endblock %}
{% block content %}
        <form>
            <label>Pack Name</label>
            <input type="text" placeholder="Name">
            <label>description</label>
            <input type="text" placeholder="Name">
            <label>private</label>
            <input type="checkbox" placeholder="private">
            <label>logo</label>
            <input type="button" placeholder="Upload Image" value="Upload Image">
            <input type="submit" placeholder="Make Pack" value="Make Pack">
        </form>
{% endblock %}
