<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/profile.css">
    <title>User Profile</title>
</head>
<body>
    <div class="container">
        <div class="left-section">
            <h1 class="username">GOGOS-OF-GREECE</h1>
            <img src="../static/images/lebronDuck.jpeg" alt="Profile Picture" class='profile-pic'>
            <p>EMAIL STATUS: <span class="email-status">False</span></p>
            <button class="resend-btn">RESEND VERIFICATION</button>
        </div>
        <div class="right-section">
            <form class="password-form">
                <label for="current-password">CURRENT PASSWORD:</label>
                <input type="password" id="current-password" name="current-password" class="inputs">
                <label for="new-password">NEW PASSWORD:</label>
                <input type="password" id="new-password" name="new-password" class="inputs">
                <label for="confirm-password">CONFIRM NEW PASSWORD:</label>
                <input type="password" id="confirm-password" name="confirm-password" class="inputs">
                <button type="submit">CHANGE PASSWORD</button>
            </form>
            <button class="normie-button">GALLERY</button>
            <button class="normie-button">SECRET PLACE</button>

        </div>
    </div>
</body>
</html>
